#bar {
    width: 100%;
    height: 15px;
    margin-top: 4px;
}
#slider {
    width: 24px;
    height: 24px;
    position: absolute;
    margin: auto;
}

.divSlidebar{
    border: 1px solid transparent;
    height: 24px;
}