
#bodycontainer{
    padding-top: 20px;
    background: beige;
    font-family: Times New Roman;
}

.header{
    width: 100%;
    /*background: red;*/
}
.menuFrame{
    width: 30%;
    float: left;
}
.videoFrame{
    width: 60%;
    /*background: green;*/
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}

table{
    width: 80%;
    margin: auto;
    border: 1px solid black;
    margin-top: 30px;
}
td, th{
    padding-left: 3px;
}
video, source{
    /*margin-left: 10px;*/
    width: 100%;
    border: black solid 2px;
}
.samimg{
    padding-top: 20px;
    width: 100%;
    height: auto;
}